BODY {
	margin: 0px 0px 0px 0px;
	background-color :#F0F6F8;
	color : #366C90;
	font-family:Verdana;
	font-size:12px;
	}
.fontheader {
	color : #366C90;
	font-family:Verdana;
	font-size:18px;
	}	
font {
	color : #366C90;
	font-family:Verdana;
	font-size:12px;
	}
.bartitle {
	font-weight:700;
	font-size:13px;
	color:#81A0A8;
	}
.title {
	font-weight:900;
	font-size:14px;
	color:#81A0A8;
	}
.menuitem {
	font-weight:900;
	font-size:15px;
	color:#000000;
	}
a, a:link, a:visited {
	color: #00000;
	font-size: 12px;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
 	}
 	
a:hover {
	color: #00000;
	font-size: 12px;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
 	}
.tdextern
{
	width:100%;
	color: #000000;
	background:#FFFFFF;
}
.tdin01
{
	border-width:2px;
	border-color: #000000;
	border-bottom-style: dashed;
	border-left-style:solid;
	border-right-style:dashed;
	border-top-style:solid;
	color: #000000;
	background:#FFFFFF;
	vertical-align:top;
	text-align:left;
}
.tdmenu
{
	border-color: #C5E4EC;
	font-size:13px;
	border-width:1px;
	border-style:solid;
	color: #000000;
}
.font_footer
{
	font-family:Tahoma;
	font-size:smaller;
}
.tdnewsheader
{
	border-width:1px;
	border-color: #C5E4EC;
	border-style:dashed;
	color: #000000;
	text-align:center;
	font-weight:600;
	font-size:12px;
	font-family:Arial;
	width:60%;
}
.tdnewspost
{
	color: #000000;
	border-width:2px;
	border-style:solid;
	border-color:#C5E4EC;
	text-align:left;
	font-weight:100;
	font-size:14px;
	font-family:Verdana;
	width:100%;
}
.logo
{
	width:300px;
	height:200px;
}
.tdproj
{
	border-width:1px;
	border-color: #C5E4EC;
	border-style:solid;
	color: #000000;
	background:#FFFFFF;
	text-align:left;
	vertical-align:top;
	font-weight:100;
	font-size:14px;
	font-family:Verdana;
	width:100%;
}
.tdprojlogo
{
	border-width:1px;
	border-color: #C5E4EC;
	border-style:dashed;
	color: #000000;
	background:#FFFFFF;
	text-align:center;
	vertical-align:top;
	font-weight:700;
	font-size:16px;
	font-family:Verdana;
	width:30%;
}
.tdprojtext
{
	border-width:1px;
	border-color: #C5E4EC;
	border-style:solid;
	color: #000000;
	background:#FFFFFF;
	vertical-align:top;
	text-align:left;
	font-weight:300;
	font-size:13px;
	font-family:Verdana;
	width:70%;
}
.projlogo
{
	width:150px;
	height:150px;
}
.tdbar
{
	border-width:1px;
	border-bottom-color: #C5E4EC;
	border-left-color: #C5E4EC;
	border-right-color: #C5E4EC;
	border-top-color: #C5E4EC;
	border-style:solid;
	color: #000000;
	background:#DFEEDF;
	vertical-align:top;
	text-align:center;
	font-weight:600;
	font-size:10px;
	font-family:Arial;
	width:100%;
}
.tdbarheader
{
	border-width:1px;
	border-bottom-color: #C5E4EC;
	border-left-color: #C5E4EC;
	border-right-color: #C5E4EC;
	border-top-color: #C5E4EC;
	border-style:solid;
	color: #000000;
	background:#BFCCBF;
	vertical-align:top;
	text-align:center;
	font-weight:600;
	font-size:10px;
	font-family:Arial;
	width:100%;
}
.font_header
{
	font-size:20px;
	font-weight:600;
}
.font_small
{
	font-size:10px;
	font-weight:300;
}
.tdarttopic
{
	border:1px;
	border-color:#C5E4EC;
	border-style:solid;
}
.td_tnd_link
{
	border:1px;
	border-color:#C5E4EC;
	border-style:solid;
}
.td_tnd_view
{
	border:1px;
	border-color:#C5E4EC;
	border-style:solid;
}
.tbl1 {
	border-style:solid; FONT-SIZE: 11px; BORDER-COLOR: #C5E4EC;Border-width:1px; 
}
.tbl2 {
	border-style:solid; FONT-SIZE: 11px; Border-width:2px;  BORDER-COLOR: #C5E4EC; PADDING-TOP: 1px;
}
.tblbar
{
	font-size:10px;
}