.grid_cell{
	background: #f9f9f9;
	font-family: arial;
	font-size: 9pt;	
	padding: 3px;
}

.grid{
	border: solid 1px #0F4E79; 
	width: 100%;
}
.grid_header_cell{
	background: #eeeeee;
	font-family: arial;
	font-size: 10pt;
	padding: 3px;
}
.grid_pagenum{
	width:30px;
}
.grid_filter_value{
	width: 100px;
}
.grid_filter_field{
	width: 150px;
}